/* General styles */
body {
  background-color: #fff;
  color: #000;
  font-family: monospace;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 5px;
  margin-left: 0; /* Align container to the left */
  margin-bottom: 0px;
  font-size: 13px;
}

/* Header styles */
#header-container {
  width: 300px;
  padding: 5px;
  color: black;
  text-align: left;
  font-size: 13px;
  font-family: monospace;
  margin-bottom: 20px;
}

/* Mobile styles for the header */
@media (max-width: 767px) {
  #header-container {
    width: 100%; /* Make the header full width */
    font-size: 20px; /* Increase the font size for mobile devices */
    /* Add any other mobile-specific styles you want */
  }
}

/* Footer styles */
footer {
  padding: 5px;
  text-align: left;
  font-size: 13px;
  color: black;
  margin-top: 120px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li a:hover {
  background-color: #000;
  color: #fff;
}

/* links color */
a {
  color: black;
}


