/* Add your CSS styles here */

/* Header styles */
header {
    background-color: #fff;;
    color: #fff;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  /* Footer styles */
  footer {
    background-color: #fff;
    color: black;
    padding: 10px;
    text-align: left;
  }
  
  /* General styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  